node_modules/
.next/
out/
data/*.json
public/uploads/*
!public/uploads/.gitkeep
.env*.local
npm-debug.log*
.DS_Store
server-*.txt

# Local Netlify folder
.netlify

.vercel

*.json.tmp
.netlify/

*.txt.tmp
